<section class="n-explore mob-title n-distance n-container">
    <h2 class="n-title" data-aos="fade-up">HELP CENTER</h2>
    <div class="fun-content">
        <div class="fun-row">
            <div class="fun-col">
                <div class="fun-item">
                    <div class="fun-img" data-aos="fade-up">
                        <img src={`${import.meta.env.BASE_URL}/img/n/n-explore-01.jpg`} alt="" class="show-pc"/>
                        <img src={`${import.meta.env.BASE_URL}/img/n/n-explore-01-mob.jpg`} alt="" class="show-mob"/>
                    </div>
                    <div class="fun-summary" data-aos="fade-up">
                        <h3 class="summary-title">Our APP</h3>
                        <p class="n-desc">Sit culpa sint cillum mollit duis nulla.</p>
                        <a class="n-more" href="javascript:;" >Learn More <img src={`${import.meta.env.BASE_URL}/img/n/icon/arrow-red.svg`} alt="" /></a>
                    </div>
                </div>
            </div>
            <div class="fun-col">
                <div class="fun-item">
                    <div class="fun-img" data-aos="fade-up">
                        <img src={`${import.meta.env.BASE_URL}/img/n/n-explore-02.jpg`} alt="" class="show-pc"/>
                        <img src={`${import.meta.env.BASE_URL}/img/n/n-explore-02-mob.jpg`} alt="" class="show-mob"/>
                    </div>
                    <div class="fun-summary" data-aos="fade-up">
                        <h3 class="summary-title">Support</h3>
                        <p class="n-desc"> Ea excepteur ut mollit dolore elit ea magna. </p>
                        <a class="n-more" href="javascript:;" >Learn More <img src={`${import.meta.env.BASE_URL}/img/n/icon/arrow-red.svg`} alt="" /></a>
                    </div>
                </div>
            </div>
            <div class="fun-col">
                <div class="fun-item">
                    <div class="fun-img" data-aos="fade-up">
                        <img src={`${import.meta.env.BASE_URL}/img/n/n-explore-03.jpg`} alt="" class="show-pc"/>
                        <img src={`${import.meta.env.BASE_URL}/img/n/n-explore-03-mob.jpg`} alt="" class="show-mob"/>
                    </div>
                    <div class="fun-summary" data-aos="fade-up">
                        <h3 class="summary-title">Where To Buy</h3>
                        <p class="n-desc">Pariatur voluptate cillum cillum non fugiat enim.</p>
                        <a class="n-more" href="javascript:;" >Learn More <img src={`${import.meta.env.BASE_URL}/img/n/icon/arrow-red.svg`} alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>