<header class="n-header">
    <nav class="nav">
        <div class="nav-logo">
            <div class="logo-s active">
                <img class="active-before" src={`${import.meta.env.BASE_URL}/img/n/icon/logo-full-s.png`} />
                <img class="active-after" src={`${import.meta.env.BASE_URL}/img/n/icon/logo-full-s-red.png`} />
            </div>
            <div class="logo-n">
                <img class="show-pc" src={`${import.meta.env.BASE_URL}/img/n/icon/logo-full-n.jpg`} />
                <img class="show-mob" src={`${import.meta.env.BASE_URL}/img/n/icon/logo-full-n-red.png`} />
            </div>
        </div>
        <div class="nav-right">
            <ul class="nav-menu">
                <li class="nav-item"><a class="nav-link" href="javascript:;" >Explore</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;" >Where to buy</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:;" >Support</a></li>
            </ul>
            <div class="user-logo"><img src={`${import.meta.env.BASE_URL}/img/n/icon/user.svg`} alt="" /></div>
            <a href="javascript:;"  class="share-btn">Share</a>
        </div>
    </nav>
</header>