<div class="show-mob mob-title n-container">RECOMMENDED <br />FOR YOU</div>
<section class="n-city n-distance n-container">
    <div class="title-content">
        <h2 class="n-title" data-aos="fade-up">
            CITY MOBILITY
            <span class="num-mob show-mob">(2)</span>
        </h2>
        <div class="open-icon show-mob active">
            <div class="icon-line line-a"></div>
            <div class="icon-line line-b"></div>
        </div>
    </div>
    <div class="city-container">
        <div class="city-item">
            <div class="city-bg" data-aos="fade-up">
                <img src={`${import.meta.env.BASE_URL}/img/n/n-city-01.jpg`} alt="" class="show-pc" />
                <img src={`${import.meta.env.BASE_URL}/img/n/n-city-01-mob.jpg`} alt="" class="show-mob" />
            </div>
            <div class="city-summary" data-aos="fade-up">
                <h3 class="summary-title">Kick Scooter</h3>
                <p class="n-desc">Convenient commuting</p>
                <a class="n-more" href="javascript:;">Learn More <img src={`${import.meta.env.BASE_URL}/img/n/icon/arrow-red.svg`} alt="" /></a>
            </div>
        </div>
        <div class="city-item show-mob">
            <div class="city-bg" data-aos="fade-up">
                <img src={`${import.meta.env.BASE_URL}/img/n/n-city-02-mob.jpg`} alt=""/>
            </div>
            <div class="city-summary" data-aos="fade-up">
                <h3 class="summary-title">EScooter/emoped</h3>
                <p class="n-desc">Convenient commuting</p>
                <a class="n-more" href="javascript:;">Learn More <img src={`${import.meta.env.BASE_URL}/img/n/icon/arrow-red.svg`} alt="" /></a>
            </div>
        </div>
    </div>
</section>
