<section class="n-fun n-distance n-container">
    <div class="title-content">
        <h2 class="n-title" data-aos="fade-up">FUN
            <span class="num-mob show-mob">(3)</span>
        </h2>
        <div class="open-icon show-mob">
            <div class="icon-line line-a"></div>
            <div class="icon-line line-b"></div>
        </div>
    </div>
    <div class="fun-content show-pc">
        <div class="fun-row">
            <div class="fun-col">
                <div class="fun-item">
                    <div class="fun-img" data-aos="fade-up"><img src={`${import.meta.env.BASE_URL}/img/n/n-fun-01.jpg`} alt="" /></div>
                    <div class="fun-summary" data-aos="fade-up">
                        <h3 class="summary-title">Go Kart</h3>
                        <p class="n-desc">Adipisicing eiusmod excepteur commodo do culpa exercitation velit pariatur irure ex aute. </p>
                        <a class="n-more" href="javascript:;" >Learn More <img src={`${import.meta.env.BASE_URL}/img/n/icon/arrow-red.svg`} alt="" /></a>
                    </div>
                </div>
            </div>
            <div class="fun-col">
                <div class="fun-item">
                    <div class="fun-img" data-aos="fade-up"><img src={`${import.meta.env.BASE_URL}/img/n/n-fun-02.jpg`} alt="" /></div>
                    <div class="fun-summary" data-aos="fade-up">
                        <h3 class="summary-title">Kids Scooter</h3>
                        <p class="n-desc">Cillum eu nulla consequat velit incididunt. Et veniam aute consequat aliquip dolor Lorem et non pariatur amet irure tempor. </p>
                        <a class="n-more" href="javascript:;" >Learn More <img src={`${import.meta.env.BASE_URL}/img/n/icon/arrow-red.svg`} alt="" /></a>
                    </div>
                    <div class="n-tip" data-aos="fade-up">HOT</div>
                </div>
            </div>
            <div class="fun-col">
                <div class="fun-item">
                    <div class="fun-img" data-aos="fade-up">
                        <img src={`${import.meta.env.BASE_URL}/img/n/n-fun-03.jpg`} alt="" />
                        <div class="video-btn"></div>
                    </div>
                    <div class="fun-summary" data-aos="fade-up">
                        <h3 class="summary-title">Balencing</h3>
                        <p class="n-desc">Consequat cillum id nostrud est ipsum mollit irure pariatur eiusmod ullamco. Aliquip sit incididunt eu labore voluptate pariatur.</p>
                        <a class="n-more" href="javascript:;" >Learn More <img src={`${import.meta.env.BASE_URL}/img/n/icon/arrow-red.svg`} alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>