<div class="container-airpods">
    <div class="img-wrap">
        <section class="airpods-sequence">
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0001.jpg`} class="airpods-frame airpods-frame--0001 airpods-frame--active" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0002.jpg`} class="airpods-frame airpods-frame--0002" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0003.jpg`} class="airpods-frame airpods-frame--0003" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0004.jpg`} class="airpods-frame airpods-frame--0004" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0005.jpg`} class="airpods-frame airpods-frame--0005" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0006.jpg`} class="airpods-frame airpods-frame--0006" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0007.jpg`} class="airpods-frame airpods-frame--0007" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0008.jpg`} class="airpods-frame airpods-frame--0008" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0009.jpg`} class="airpods-frame airpods-frame--0009" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0010.jpg`} class="airpods-frame airpods-frame--0010" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0011.jpg`} class="airpods-frame airpods-frame--0011" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0012.jpg`} class="airpods-frame airpods-frame--0012" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0013.jpg`} class="airpods-frame airpods-frame--0013" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0014.jpg`} class="airpods-frame airpods-frame--0014" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0015.jpg`} class="airpods-frame airpods-frame--0015" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0016.jpg`} class="airpods-frame airpods-frame--0016" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0017.jpg`} class="airpods-frame airpods-frame--0017" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0018.jpg`} class="airpods-frame airpods-frame--0018" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0019.jpg`} class="airpods-frame airpods-frame--0019" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0020.jpg`} class="airpods-frame airpods-frame--0020" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0021.jpg`} class="airpods-frame airpods-frame--0021" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0022.jpg`} class="airpods-frame airpods-frame--0022" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0023.jpg`} class="airpods-frame airpods-frame--0023" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0024.jpg`} class="airpods-frame airpods-frame--0024" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0025.jpg`} class="airpods-frame airpods-frame--0025" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0026.jpg`} class="airpods-frame airpods-frame--0026" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0027.jpg`} class="airpods-frame airpods-frame--0027" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0028.jpg`} class="airpods-frame airpods-frame--0028" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0029.jpg`} class="airpods-frame airpods-frame--0029" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0030.jpg`} class="airpods-frame airpods-frame--0030" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0031.jpg`} class="airpods-frame airpods-frame--0031" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0032.jpg`} class="airpods-frame airpods-frame--0032" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0033.jpg`} class="airpods-frame airpods-frame--0033" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0034.jpg`} class="airpods-frame airpods-frame--0034" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0035.jpg`} class="airpods-frame airpods-frame--0035" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0036.jpg`} class="airpods-frame airpods-frame--0036" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0037.jpg`} class="airpods-frame airpods-frame--0037" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0038.jpg`} class="airpods-frame airpods-frame--0038" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0039.jpg`} class="airpods-frame airpods-frame--0039" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0040.jpg`} class="airpods-frame airpods-frame--0040" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0041.jpg`} class="airpods-frame airpods-frame--0041" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0042.jpg`} class="airpods-frame airpods-frame--0042" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0043.jpg`} class="airpods-frame airpods-frame--0043" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0044.jpg`} class="airpods-frame airpods-frame--0044" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0045.jpg`} class="airpods-frame airpods-frame--0045" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0046.jpg`} class="airpods-frame airpods-frame--0046" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0047.jpg`} class="airpods-frame airpods-frame--0047" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0048.jpg`} class="airpods-frame airpods-frame--0048" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0049.jpg`} class="airpods-frame airpods-frame--0049" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0050.jpg`} class="airpods-frame airpods-frame--0050" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0051.jpg`} class="airpods-frame airpods-frame--0051" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0052.jpg`} class="airpods-frame airpods-frame--0052" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0053.jpg`} class="airpods-frame airpods-frame--0053" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0054.jpg`} class="airpods-frame airpods-frame--0054" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0055.jpg`} class="airpods-frame airpods-frame--0055" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0056.jpg`} class="airpods-frame airpods-frame--0056" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0057.jpg`} class="airpods-frame airpods-frame--0057" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0058.jpg`} class="airpods-frame airpods-frame--0058" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0059.jpg`} class="airpods-frame airpods-frame--0059" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0060.jpg`} class="airpods-frame airpods-frame--0060" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0061.jpg`} class="airpods-frame airpods-frame--0061" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0062.jpg`} class="airpods-frame airpods-frame--0062" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0063.jpg`} class="airpods-frame airpods-frame--0063" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0064.jpg`} class="airpods-frame airpods-frame--0064" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0065.jpg`} class="airpods-frame airpods-frame--0065" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0066.jpg`} class="airpods-frame airpods-frame--0066" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0067.jpg`} class="airpods-frame airpods-frame--0067" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0068.jpg`} class="airpods-frame airpods-frame--0068" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0069.jpg`} class="airpods-frame airpods-frame--0069" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0070.jpg`} class="airpods-frame airpods-frame--0070" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0071.jpg`} class="airpods-frame airpods-frame--0071" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0072.jpg`} class="airpods-frame airpods-frame--0072" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0073.jpg`} class="airpods-frame airpods-frame--0073" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0074.jpg`} class="airpods-frame airpods-frame--0074" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0075.jpg`} class="airpods-frame airpods-frame--0075" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0076.jpg`} class="airpods-frame airpods-frame--0076" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0077.jpg`} class="airpods-frame airpods-frame--0077" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0078.jpg`} class="airpods-frame airpods-frame--0078" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0079.jpg`} class="airpods-frame airpods-frame--0079" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0080.jpg`} class="airpods-frame airpods-frame--0080" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0081.jpg`} class="airpods-frame airpods-frame--0081" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0082.jpg`} class="airpods-frame airpods-frame--0082" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0083.jpg`} class="airpods-frame airpods-frame--0083" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0084.jpg`} class="airpods-frame airpods-frame--0084" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0085.jpg`} class="airpods-frame airpods-frame--0085" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0086.jpg`} class="airpods-frame airpods-frame--0086" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0087.jpg`} class="airpods-frame airpods-frame--0087" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0088.jpg`} class="airpods-frame airpods-frame--0088" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0089.jpg`} class="airpods-frame airpods-frame--0089" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0090.jpg`} class="airpods-frame airpods-frame--0090" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0091.jpg`} class="airpods-frame airpods-frame--0091" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0092.jpg`} class="airpods-frame airpods-frame--0092" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0093.jpg`} class="airpods-frame airpods-frame--0093" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0094.jpg`} class="airpods-frame airpods-frame--0094" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0095.jpg`} class="airpods-frame airpods-frame--0095" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0096.jpg`} class="airpods-frame airpods-frame--0096" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0097.jpg`} class="airpods-frame airpods-frame--0097" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0098.jpg`} class="airpods-frame airpods-frame--0098" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0099.jpg`} class="airpods-frame airpods-frame--0099" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0100.jpg`} class="airpods-frame airpods-frame--0100" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0101.jpg`} class="airpods-frame airpods-frame--0101" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0102.jpg`} class="airpods-frame airpods-frame--0102" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0103.jpg`} class="airpods-frame airpods-frame--0103" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0104.jpg`} class="airpods-frame airpods-frame--0104" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0105.jpg`} class="airpods-frame airpods-frame--0105" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0106.jpg`} class="airpods-frame airpods-frame--0106" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0107.jpg`} class="airpods-frame airpods-frame--0107" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0108.jpg`} class="airpods-frame airpods-frame--0108" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0109.jpg`} class="airpods-frame airpods-frame--0109" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0110.jpg`} class="airpods-frame airpods-frame--0110" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0111.jpg`} class="airpods-frame airpods-frame--0111" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0112.jpg`} class="airpods-frame airpods-frame--0112" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0113.jpg`} class="airpods-frame airpods-frame--0113" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0114.jpg`} class="airpods-frame airpods-frame--0114" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0115.jpg`} class="airpods-frame airpods-frame--0115" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0116.jpg`} class="airpods-frame airpods-frame--0116" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0117.jpg`} class="airpods-frame airpods-frame--0117" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0118.jpg`} class="airpods-frame airpods-frame--0118" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0119.jpg`} class="airpods-frame airpods-frame--0119" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0120.jpg`} class="airpods-frame airpods-frame--0120" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0121.jpg`} class="airpods-frame airpods-frame--0121" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0122.jpg`} class="airpods-frame airpods-frame--0122" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0123.jpg`} class="airpods-frame airpods-frame--0123" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0124.jpg`} class="airpods-frame airpods-frame--0124" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0125.jpg`} class="airpods-frame airpods-frame--0125" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0126.jpg`} class="airpods-frame airpods-frame--0126" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0127.jpg`} class="airpods-frame airpods-frame--0127" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0128.jpg`} class="airpods-frame airpods-frame--0128" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0129.jpg`} class="airpods-frame airpods-frame--0129" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0130.jpg`} class="airpods-frame airpods-frame--0130" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0131.jpg`} class="airpods-frame airpods-frame--0131" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0132.jpg`} class="airpods-frame airpods-frame--0132" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0133.jpg`} class="airpods-frame airpods-frame--0133" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0134.jpg`} class="airpods-frame airpods-frame--0134" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0135.jpg`} class="airpods-frame airpods-frame--0135" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0136.jpg`} class="airpods-frame airpods-frame--0136" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0137.jpg`} class="airpods-frame airpods-frame--0137" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0138.jpg`} class="airpods-frame airpods-frame--0138" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0139.jpg`} class="airpods-frame airpods-frame--0139" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0140.jpg`} class="airpods-frame airpods-frame--0140" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0141.jpg`} class="airpods-frame airpods-frame--0141" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0142.jpg`} class="airpods-frame airpods-frame--0142" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0143.jpg`} class="airpods-frame airpods-frame--0143" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0144.jpg`} class="airpods-frame airpods-frame--0144" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0145.jpg`} class="airpods-frame airpods-frame--0145" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0146.jpg`} class="airpods-frame airpods-frame--0146" />
            <img src={`${import.meta.env.BASE_URL}/img/airpods/0147.jpg`} class="airpods-frame airpods-frame--0147" />
        </section>
    </div>
    <section class="main-title">
        <h1>AirPods Pro</h1>
    </section>
    <section class="page-content page-content-airpods">
        <div class="slide">
            <div class="slide__content">
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            </div>
        </div>
    </section>
</div>

<style lang="scss">
    @import "../../styles/_common.scss";
    .container-airpods {
        position: relative;
        background-color: #000;
        color: #fff;
        .img-wrap {
            z-index: 1;
            position: sticky;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }
        .airpods-sequence {
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: vw(1158);
            height: vw(770);
        }

        .airpods-frame {
            display: block;
            margin: auto;
            top: 0;
            left: 50%;
            position: absolute;
            opacity: 0;
            height: 100%;
            transform: translateX(-50%);
        }

        .airpods-frame--active {
            opacity: 1;
        }

        .page-content {
            z-index: 3;
            position: relative;
            padding: 5rem;
            margin-top: -100vh;
        }

        .main-title {
            z-index: 3;
            position: relative;
            opacity: 0;
            text-align: center;
            height: 100vh;
            width: 100%;
            display: flex;
            margin-top: -100vh;
            margin-bottom: 300vh;
            display: flex;
            align-items: center;

            h1 {
                width: 100%;
                font-size: 10vw;
                line-height: 1;
                font-weight: 700;
                font-family: "Helvetica", "Arial", sans-serif;
            }
        }

        .slide {
            max-width: 900px;
            margin: auto;
            height: 100vh;
            display: flex;
            align-items: flex-start;
        }

        .slide__content {
            display: flex;
            height: 100vh;
            align-items: center;

            h2 {
                font-size: 5vw;
                line-height: 1;
                font-weight: 700;
                font-family: "Helvetica", "Arial", sans-serif;
                text-align: center;
                color: #fff;
            }
        }
    }
</style>

<script>
    gsap.timeline().to(".airpods-sequence", { opacity: 1, duration: 1 }).to(".main-title", { opacity: 1, duration: 1 });

    const frameAnimation = {
        frame: 1,
    };

    gsap.to(frameAnimation, {
        frame: 147,
        scrollTrigger: {
            scrub: 0.5,
            trigger: ".container-airpods",
            endTrigger: ".page-content-airpods",
            end: "top top",
            // markers: true,
        },
        onUpdate: function (tl) {
            const newFrameId = Math.round(frameAnimation.frame).toString().padStart(4, 0);
            const activeSlide = document.querySelector(".airpods-frame--active");
            activeSlide.classList.remove("airpods-frame--active");
            const nextFrame = document.querySelector(".airpods-frame--" + newFrameId);
            nextFrame.classList.add("airpods-frame--active");
        },
    });

    gsap.to(".airpods-sequence", {
        scale: 0.8,
        scrollTrigger: {
            scrub: 0.5,
            endTrigger: ".page-content-airpods",
        },
    });

</script>
